<div class="jumbotron">
  <% if user_signed_in? %>
  	<h4>Tu carrito</h4> 
    <% @mis_pedidos.each do |pedido| %>
      <%= link_to image_tag(pedido.cerveza.photo_url, class:"pedido", size:"60x60"), cerveza_pedido_path(pedido.cerveza, pedido), method: :delete%>
    <% end %>
  <% end %>
</div>
<a href="<%= new_cerveza_path %>" class="btn btn-primary">Agregar Cerveza</a>
<div class="container">
	<% @cervezas.each do |cerveza| %>
		<div class="col-md-3">
			<div class="thumbnail">
				<h2><strong><%= cerveza.name %></strong></h2>
				<%= image_tag cerveza.photo, :class => 'img-responsive' %>
				<div class="btn-group">
					<a href="#" class="btn btn-primary"> Mostrar </a>
					<a href="<%= new_cerveza_pedido_path(cerveza) %>" class="btn btn-primary"> Pedir </a>
					<% if user_signed_in? %>
						<% if cerveza.user_id == current_user.id %>
							<%= link_to 'Borrar', cerveza, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	<% end  %>
</div>